<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Crear cuenta en upTask
            if cuentaOk == 1
                .caja
                    .alert.alert-primary.center= 'Registrado Correctamente'
            else if cuentaOk == 2
                if locals.mensajes
                    .caja
                        each categoria in Object.keys(locals.mensajes)
                            each error in mensajes[categoria]
                                .alert.alert-danger.center=error
            
            form#formulario.caja.caja-login(method="POST" action="/crearCuenta")
                .campo  
                    label(for="email") E-mail
                    input(type="email" id="email" name="email" value= email required)
                .campo
                    label(for="password") Password
                    input(type="password" id="password" name="password" value= password required)
                .campo.enviar
                    input.boton(type="submit" value="Crear Cuenta")
                a(href="/iniciarSesion") Volver a iniciar sesion

        script(src="/dist/bundle.js")