<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body
        header.barra
            h1 upTask - Administrador de proyectos 
            a(href="/cerrarSesion") Cerrar Sesion
        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nuevoProyecto" class="boton" style="text-decoration:none;") Nuevo Proyecto
                        i +
                .panel.lista-proyectos
                    h2 Proyectos
                    ul#proyectos.proyectos
                        if(proyectos.length)  
                            each pro in proyectos
                                li
                                    a(href=`/proyectos/${pro.url}`)= pro.nombre
                        else
                            h3 no hay nada

            block contenido
        script(src="/dist/bundle.js")
    
            
        

            
                
            
        
    