<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Ingrese su nuevo password
            if locals.mensajes
                .caja
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alert(class=`${categoria} center`)=error
            form.caja-login(method="POST")
                .campo  
                    label(for="password") password
                    input(type="password" id="password" name="password" required)
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer password")