<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
        
    body
        h2 Recuperar Password
        p Has solicitado rescuperar tu password, haz click en el siguiente enlace para crear un nuevo password, el enlace sera valido solo por una hora
        a(href=`${reseturl}`) Recuperar Password
        p Si no puedes acceder al enlace, por favor visita el siguiente link: #{reseturl}
        p si tu no lo solicitaste, ignora este correo 